@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

body {
  background-color: #920e7c;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div{
  padding: 20px;
}

.imageLabel{
  margin-top: 10px;
  margin-bottom: 5px;
  width: 150px;
  height: 150px;
}

.containerPhoto{
  text-align: start;
}

.containerTitle{
  text-align: start;
}

.groupResults{
  flex-wrap: wrap;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin: 10px;
  background-color: rgba(244, 242, 242, 0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  
}

.imageGroupResults{
  flex-wrap: wrap;
  flex-direction: row;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  padding: 20px;
  margin: 10px;
  background-color: rgba(244, 242, 242, 0);
  
  
}

.py-4{
  padding-top:1.5rem!important;
  padding-bottom:1.5rem!important
}

.row{
  --bs-gutter-x:1.5rem;
  --bs-gutter-y:0;display:flex;
  flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);
  margin-right:calc(var(--bs-gutter-x) * -.5);
  margin-left:calc(var(--bs-gutter-x) * -.5);
  justify-content: center;
  margin: 0 auto;
}

.logocontato{
  width: 30px;
  height: 30px;
}

.userPhoto{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: transparent;
  right: 100px;
  /*border: 2px solid black;*/
  border-radius: 100px;

}

.buttonRemovePhoto{
  margin:0 auto;
  margin-top:10px; 
  margin-bottom:20px;
  width:30%; 
  border-radius:50px; 
  font-Size:11px; 
  padding:5px;
  cursor:pointer;
  text-align: center;
  color: #fff;
  background-color: #528abe;
}



@media (hover: hover) {
  .userPhoto:hover{
    opacity: 0.8;
    mask-image: url("https://cdn-icons-png.flaticon.com/512/3388/3388968.png");
    mask-size: contain;
  }
  .removeUserPhoto:hover{
    opacity: 0.8;
  }
}



.label{
  width: 100%;
  color:white;
  border-radius:5px;
  padding:10px;
}

.containerLoading {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.containerPage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.box {
  width: 500px;
  background-color:rgba(244, 242, 242, 0.5) ;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  
}

.boxProfile {
  width: 500px;
  background-color:rgba(244, 242, 242, 0.5) ;
  border-radius: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  
}

.titleProfile{
  margin-top: 10px;
  font-size: 25px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #566475;
}

.title{
  font-size: 25px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  line-height: 1;
  color: #566475;
  text-align: center;
}

.textModal{
  word-wrap: break-word;
  font-size: 25px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 20px;
  color: #566475;
  text-align: center;
}

.linkModal{
  text-decoration:underline;
  cursor:pointer;
  color: #1c6ab3;
}

.titleModal{
  font-size: 30px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 20px;
  color: #f4f4f4;
  text-align: center;
}



.titleSearchGroups{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 25px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 350;
  line-height: 1;
  color: #2a475f;
  text-align: center;
}

.text{
  font-size: 12px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 3; 
  color: #566475;
}

.textProfile{
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #566475;
}

.text404{
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 5; 
}

.Label{
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  line-height: 2;

}

.contentLabel{
  margin-top: 10px;
  width: 80%;
  border-radius: 10px;
}

.divLabel{
  display: flex;
  justify-content: center;
  align-self: center;
}

/* Bordered form */
form {
  border: 10px solid #f1f1f1;
}

/* Full-width inputs */
input{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  outline-color: #920e7c;
  background-color: #E7E7E7;
  align-self: center;
  align-content: center;
  align-items: center;
}

select{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  outline-color: #920e7c;
  background-color: #E7E7E7;
  align-self: center;
  align-content: center;
  align-items: center;
}

.modal.show {
  z-index: 100000!important;
}

.modal-backdrop.show {
  z-index: 100000!important;
}

.inputImage{
  display: none;
}


/* Set a style for all buttons */
button {
  background-color: #528abe;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  border-radius: 10px;
}

.buttonGroup {
  background-color: rgb(202, 237, 244);
  margin-top: 20px;
  color:#1d1f21;
  padding: 10px;
  width: 80%;
  border-radius: 20px;
  border: solid 1px;
  border-color: #566475;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.buttonGroupDesc {
  background-color: transparent;
  margin-bottom: -10px;
  color:#1d1f21;
  padding: 10px;
  width: 80%;
  border-radius: 20px;
  border: solid 1px;
  border-color: #566475;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.buttonExitGroup{
  width:fit-content; 
  margin-top:50px; 
  background-color: #d05866;
  border: solid 1px black;
  color: rgba(255, 255, 255, 0.861);
}

.buttonResetPass{
  width:fit-content; 
  margin-top:30px; 
  background-color: #8682c6;
  border: solid 1px black;
  color: rgba(255, 255, 255, 0.861);
}

@media (hover: hover) {
  button:hover {
    opacity: 0.8;
  }

  .buttonGroup:hover {
    background-color: rgba(82, 138, 190, 0.2);
  }
}

@media (max-width:652px){
  .box {
    width: 400px;
  }

  .boxProfile {
    width: 400px;
    
  }

}

@media (max-width:504px){
  .box {
    width: 300px;
  }

  .boxProfile {
    width: 300px;
    
  }

}

@media (max-width:388px){
  .box {
    width: 250px;
  }

  .boxProfile {
    width: 250px;
    
  }
  .textProfile{
    font-size: 12px;
  }
}


@media (min-height:399px) and (max-height:537px){
  .containerPage{
    padding-top: 300px;
    padding-bottom: 100px;
  }
}


@media (min-height:327px) and (max-height:541px){
  .containerPage{
    padding-top: 350px;
    padding-bottom: 100px;
  }
}

@media (max-height:436px){
  .containerPage{
    padding-top: 300px;
    padding-bottom: 100px;
  }
}

@media (max-height:360px){
  .containerPage{
    padding-top: 450px;
    padding-bottom: 100px;
  }
}

@media (min-height:436px) and (max-height:533px){
  .containerPage{
    padding-top: 200px;
    padding-bottom: 60px;
  }
}

